<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:</string>
      <key>DOTFILES_DIR</key>
      <string>[DOTFILES]</string>
    </dict>
    <key>Label</key>
    <string>br.com.crespo.dotfiles.beacon</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>-c</string>
      <string>[DOTFILES]/macOS/LaunchDaemons/beacon.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/tmp/br.com.crespo.dotfiles.beacon.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/br.com.crespo.dotfiles.beacon.stderr</string>
  </dict>
</plist>