[Desktop Entry]
Categories=Office;
Comment[pt_BR]=Password manager and secure wallet
Comment=Password manager and secure wallet
Exec=/opt/1Password/1password --silent %U
GenericName[pt_BR]=
GenericName=
Icon=1password
MimeType=
Name[pt_BR]=1Password
Name=1Password
Path=
StartupNotify=true
StartupWMClass=1Password
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
